.chart-container {
  display: block;
  width: 100%;
  max-width: 80%; /* Укажите максимальную ширину для графиков */
  margin: 0 auto; /* Центрируйте графики по горизонтали */
  margin-bottom: 5%; /* Добавьте нижний отступ между графиками */
}

.chart-container canvas {
  height: 300px; /* Укажите высоту графиков */
}

.chart-container.pie-chart {
  max-width: 100px; /* Укажите максимальную ширину для круговой диаграммы */
}

.scroll {
  align-items: center;
  justify-content: center;
  max-height: 75%;
  overflow-y: auto;
}

.pie {
  margin: auto;
  margin-bottom: 5%;
  width: 50%;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #E4F6CB;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #E4F6CB;
}

.scroll::-webkit-scrollbar-thumb:active {
  background-color: #B3E2B1;
}

.scroll::-webkit-scrollbar-thumb:vertical {
  border-radius: 4px;
}

.scroll::-webkit-scrollbar-thumb:horizontal {
  border-radius: 4px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E4F6CB;
  box-shadow: 5px 5px 15px #D0E1B7;
  height: 50px;
  margin-bottom: 4%;
}

.search > div {
  flex: 1;
  text-align: center;
}

.search > div:first-child {
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 50px;
  border-right: 2px solid rgba(57, 108, 29, 0.8);
  padding-right: 10px;
  margin-right: 10px;

}

.search-icon {
  color: #396C1D;
  margin-right: 10px;
  margin-left: 20px;
}

.search > div:last-child {
  align-items: center;
  justify-content: center;
  color: #396C1D;
  padding-left: 10px;
  margin-left: 10px;
}

.search input[type="text"] {
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.search input[type="checkbox"] {
  color: #396C1D;
  margin-left: 2%;
  background: transparent;
  border-color: #396C1D;
  transform: scale(1.2);
}

.search input[type="date"] {
  color: #396C1D;
  background: transparent;
  border: none;
}

.search > div:last-child {
  display: flex;
  align-items: center;
}

.h1 {
  font-style: normal;
  font-weight: 550;
  font-size: 40px;
  line-height: 150%;
  color: #396C1D;
  margin-bottom: 2%;
}
